<h5>هنا عنوان رئيسي</h5>
<div class="simple-bar-chart mt-5 mb-5">
  
  <div class="item" style=" --val: 40">
    <div class="label">مثال</div>
  </div>
  
  <div class="item" style=" --val: 80">
    <div class="label">مثال</div>
  </div>
  
  <div class="item" style=" --val: 100">
    <div class="label">مثال</div>
  </div>
  
  <div class="item" style="--val: 15">
    <div class="label">مثال</div>
  </div>
  
  <div class="item" style=" --val: 1">
    <div class="label">مثال</div>
  </div>
  


</div>
<table>
    <tr>
        <td>الرياض</td>
        <td>33</td>
    </tr>
    <tr>
        <td>جدة</td>
        <td>21</td>
    </tr>
    <tr>
        <td>مكة</td>
        <td>21</td>
    </tr>
    <tr>
        <td>المدينة</td>
        <td>21</td>
    </tr>
    <tr>
        <td>الدمام</td>
        <td>21</td>
    </tr>
</table>
