<div id="bg-l-green">
    <div class="container text-center">
    <div class="body">
        <h1 class="green-title">المشروع</h1>
        <p>لوريم إيبسوم هو نص مؤقت يستخدم في التصميم والنشر لإظهار شكل الوثيقة أو الخط دون الاعتماد على محتوى معنوي.</p>
            <img src="assets/images/img1.png" class="full-img mt-4" alt="...">
    </div>
    </div>
    </div>
    



    <section class="about-section">
        <div class="container">
            <div class="body">
          <div class="row">
            <!-- الصورة أو الرسم البياني على اليسار -->

      
            <!-- النصوص والشرح على اليمين -->
            <div class="col-lg-8">
              <h1 class="mb-4">عن الصفحة</h1>
              <p>لوريم إيبسوم هو نص مؤقت يستخدم في التصميم والنشر لإظهار شكل الوثيقة أو الخط دون الاعتماد على محتوى معنوي.</p>
              <ul class="feature-list">
                <li>
                    <img src="assets/images/icon1.png" alt="Icon" class="icon-img">
                    لوريم إيبسوم هو نص مؤقت يستخدم في التصميم والنشر لإظهار شكل الوثيقة
                </li>
                <li>
                    <img src="assets/images/icon1.png" alt="Icon" class="icon-img">
                    لوريم إيبسوم هو نص مؤقت يستخدم في التصميم والنشر لإظهار شكل الوثيقة
                </li>
                <li>
                    <img src="assets/images/icon1.png" alt="Icon" class="icon-img">
                    لوريم إيبسوم هو نص مؤقت يستخدم في التصميم والنشر لإظهار شكل الوثيقة
                </li>
              </ul>
            </div>
            <div class="col-lg-4">
                <img src="assets/images/img2.png" alt="About Image" class="img-fluid">
              </div>
          </div>
        </div>
    </div>
</section>
      