<header>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <!-- Logo -->
        <a class="navbar-brand" href="#">Logo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <!-- القائمة (الروابط) -->
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">الرئيسية</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">عن المشروع</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">مميزات</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">تواصل معنا</a>
            </li>
          </ul>
        </div>
         
        <!-- زر تسجيل الدخول -->
        <button class="btn btn-primary ms-auto" onclick="window.location.href='/signin'">تسجيل دخول</button>
  
      </div>
    </nav>
  </header>
  
  