@use '../../variables' as *;


footer {
    background-color: $primary-color; // لون خلفية الفوتر
    color: white;
  
    h3 {
      font-weight: normal;
    }
  
    a {
      text-decoration: none;
      color: white;
      transition: color 0.3s;
  
      &:hover {
        color: #25935F; // لون للتفاعل مع الرابط
      }
    }
  
    .social-icons {
      font-size: 1.5rem;
    }
  }
  