<table class="table">
    <thead class="table-light">
      <tr>
        <th scope="col">نوع</th>
        <th scope="col">عدد</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>لوريم إيبسوم هو نص مؤقت يستخدم في التصميم والنشر لإظهار شكل الوثيقة</td>
        <td>1</td>
      </tr>
      <tr>
        <td>لوريم إيبسوم هو نص مؤقت يستخدم في التصميم والنشر لإظهار شكل الوثيقة</td>
        <td>1</td>
      </tr>
      <tr>
        <td>لوريم إيبسوم هو نص مؤقت يستخدم في التصميم والنشر لإظهار شكل الوثيقة</td>
        <td>1</td>
      </tr>
      <tr>
        <td>لوريم إيبسوم هو نص مؤقت يستخدم في التصميم والنشر لإظهار شكل الوثيقة</td>
        <td>1</td>
      </tr>
      <tr>
        <td>لوريم إيبسوم هو نص مؤقت يستخدم في التصميم والنشر لإظهار شكل الوثيقة</td>
        <td>1</td>
      </tr>
      <tr>
        <td>لوريم إيبسوم هو نص مؤقت يستخدم في التصميم والنشر لإظهار شكل الوثيقة</td>
        <td>1</td>
      </tr>
    </tbody>
  </table>