<div class="container-fluid">

<div class="row align-items-center">
    <div class="col-md-6">
      <div class="logo-section">
        <img src="assets/images/cover-bg.png" alt="Icon" class="card-icon">
        <div>LOGO</div>
      </div>
    </div>
    <div class="col-md-6">
      <!-- Form Section -->
      <div class="login-form">
        <h1 class="form-title text-center mb-5">تسجيل دخول</h1>
        <form>
          <div class="form-group">
            <label for="idNumber">رقم الهوية</label>
            <input type="text" class="form-control" id="idNumber" placeholder="ادخل رقم الهوية الخاصة بك">
          </div>
          <div class="form-group">
            <label for="password">كلمة المرور</label>
            <input type="password" class="form-control" id="password" placeholder="********">
          </div>
          <div class="form-group text-center">
            <a href="/forgetpassword" class="text-decoration-none">نسيت كلمة المرور؟</a>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-custom" onclick="window.location.href='/home'">تسجيل دخول</button>
          </div>
        </form>
      </div>
    </div>
</div>
</div>
  