<div class="container text-center mb-5 mt-5">
    <div class="body">
      <h1>مميزات المشروع</h1>
      
      <!-- صف البطاقات -->
      <div class="d-flex flex-row mb-3 mt-5 justify-content-md-center">
        <div class="p-2">
          <div class="card card-e">
            <img src="assets/images/icon2.png" alt="Icon" class="card-icon">
            <div class="card-body">
                <h5 class="card-title">هنا عنوان فرعي</h5>
                <p>لوريم إيبسوم هو نص مؤقت يستخدم في التصميم والنشر لإظهار شكل الوثيقة</p>
              </div>
          </div>
        </div>
        <div class="p-2">
          <div class="card card-e">
            <img src="assets/images/icon2.png" alt="Icon" class="card-icon">
            <div class="card-body">
                <h5 class="card-title">هنا عنوان فرعي</h5>
                <p>لوريم إيبسوم هو نص مؤقت يستخدم في التصميم والنشر لإظهار شكل الوثيقة</p>
              </div>
          </div>
        </div>
      </div>
      
      <!-- صف آخر من البطاقات -->
      <div class="d-flex flex-row mb-3 justify-content-md-center">
        <div class="p-2">
          <div class="card card-e">
            <img src="assets/images/icon2.png" alt="Icon" class="card-icon">
            <div class="card-body">
                <h5 class="card-title">هنا عنوان فرعي</h5>
                <p>لوريم إيبسوم هو نص مؤقت يستخدم في التصميم والنشر لإظهار شكل الوثيقة</p>
              </div>
          </div>
        </div>
        <div class="p-2">
          <div class="card card-e">
            <img src="assets/images/icon2.png" alt="Icon" class="card-icon">
            <div class="card-body">
              <h5 class="card-title">هنا عنوان فرعي</h5>
              <p>لوريم إيبسوم هو نص مؤقت يستخدم في التصميم والنشر لإظهار شكل الوثيقة</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  