<h5>هنا عنوان رئيسي</h5>

<div class="text-center mt-5">

<svg width="65%" height="65%" viewBox="0 0 42 42" class="donut">
    <circle class="donut-hole" cx="21" cy="21" r="15.91549430918954" fill="#fff"></circle>
    <circle class="donut-ring" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#D0E8FFB2" stroke-width="10"></circle>
  
    <circle class="donut-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#B0C8F5" stroke-width="10" stroke-dasharray="85 15" stroke-dashoffset="0"></circle>
  </svg>
</div>

  <div class="row justify-content-center mt-5">

    <div class="col-3">
        <div class="line1">
        <span></span>
    <p>مثال</p>
</div>
</div>

<div class="col-3">
<div class="line2">
    <span></span>
    <p>مثال</p>
</div>  
</div>  

</div>

<table>
    <tr>
        <td>مثال للنص</td>
        <td>33</td>
    </tr>
    <tr>
        <td>مثال للنص</td>
        <td>21</td>
    </tr>
</table>
