<div class="container mt-5 mb-5">
        <div class="main-bg">
          <div class="body">
            <h3>تواصل معنا</h3>
            <div class="d-flex mobile justify-content-between mt-4 mb-4">
              <div class="p-2">
                <h5>
                  <img src="assets/images/mail.png" alt="Icon" class="so-icon">
                  البريد الإلكتروني
                </h5>
                <a href="mailto:help&#64;company.sa">help&#64;company.sa 
                  <img src="assets/images/copy.png" alt="Icon" class="so-icon">
                </a>
              </div>
              <div class="p-2">
                <h5>
                  <img src="assets/images/chat.png" alt="Icon" class="so-icon">
                  رسالة قصيرة
                </h5>
                <a href="tel:+000000000">000000000                                                      
                  <img src="assets/images/copy.png" alt="Icon" class="so-icon">
                </a>
              </div>
              <div class="p-2">
                <h5>
                  <img src="assets/images/phone.png" alt="Icon" class="so-icon">
                  رقم الجوال
                </h5>
                <a href="tel:+000000000">000000000                                                     
                  <img src="assets/images/copy.png" alt="Icon" class="so-icon">
                </a>
              </div>
            </div>
            <h3>تابعنا على</h3>
            <div class="d-flex justify-content-start mt-4">
              <div class="p-2">
                <img src="assets/images/instagram.png" alt="Icon" class="so-icon">
              </div>
              <div class="p-2">
                <img src="assets/images/linkedin.png" alt="Icon" class="so-icon">
              </div>
              <div class="p-2">
                <img src="assets/images/x.png" alt="Icon" class="so-icon">
              </div>
            </div>
          </div>
        </div>
      </div>
      