<app-headerlogin></app-headerlogin>

    <div class="container">
        <div class="body">
            <div class="card card-e mb-3">
                <div class="card-body">
                    <div class="d-flex flex-row w-100  align-items-start">
                        <div >
                            <img src="assets/images/icon8.png" alt="Icon" class="card-icon">
                        </div>
                        <div >
                            <h5>إجمالي </h5>
                            <p>212 </p>
                        </div>
                    </div>
                </div>
            </div>



                    <div class="card card-e mb-2">
                        <div class="card-body">
                            <h1 class="green-title">
                                الخريطة التفاعلية
                            </h1>
                            <p>يمكنك استعراض التفاصيل في كافة أنحاء خريطة مناطق المملكة </p>
                            <img src="assets/images/map.png" alt="map">
                        </div>
                    </div>



            <div class="d-flex flex-row">
                <div class="p-2">
                    <div class="card card-e">
                        <div class="card-body">
                            <app-chart></app-chart>
                        </div>
                    </div>
                </div>
                <div class="p-2">
                    <div class="card card-e">
                        <div class="card-body">
                            <app-chart2></app-chart2>
                        </div>
                    </div>
                </div>

            </div>


            <div class="d-flex flex-row">
                <div class="p-2">
                    <div class="card card-e">
                        <div class="card-body">
                            <app-chart3></app-chart3>
                        </div>
                    </div>
                </div>
                <div class="p-2">
                    <div class="card card-e">
                        <div class="card-body">
                            <app-table></app-table>
                        </div>
                    </div>
                </div>

            </div>



        </div>
    </div>

<app-footerlogin></app-footerlogin>
