body {
    font-family: $font-family;
    font-size: $font-size-base;
    background-color: $gray-color;
  }
  
  button {
    background-color: $primary-color;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  
    &:hover {
      background-color: darken($secondary-color, 10%);
    }
  }

