// _variables.scss
$primary-color: #1B8354;  
$secondary-color: #EFF3F8; 
$green-color: #54C08A; 
$gray-color: #f6f6fb;  
$light-green-color: #f4fdf6;  
$gray-p: #6C737F;
$dark-gray-color: #E7ECF2;
$font-family: 'Arial', sans-serif;
$font-size-base: 1rem;
// يمكن إضافة المزيد من المتغيرات حسب الحاجة
