<app-headerlogin></app-headerlogin>

<div id="bg-l-green">
    <div class="container">
        <div class="body">
            <h1 class="green-title">
                <img src="assets/images/icon6.png" alt="Icon" class="title-icon">
                الوصول السريع
            </h1>

            <div class="d-flex flex-row mb-5">
                <div class="p-2">
                    <div class="card card-e">
                        <div class="card-body">
                            <img src="assets/images/icon3.png" alt="Icon" class="card-icon">
                            <p>لوحة التحكم</p>
                            <div class="d-flex flex-row w-100 justify-content-between align-items-end">
                                <div class="p-2">
                                    <a href="#" class="details-link"><h5>التفاصيل</h5></a>
                                </div>
                                <div class="p-2">
                                    <a href="#"><i class="fa fa-chevron-left"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="p-2">
                    <div class="card card-e">
                        <div class="card-body">
                            <img src="assets/images/icon4.png" alt="Icon" class="card-icon">
                            <p>لوحة التحكم</p>
                            <div class="d-flex flex-row w-100 justify-content-between align-items-end">
                                <div class="p-2">
                                    <a href="#" class="details-link"><h5>التفاصيل</h5></a>
                                </div>
                                <div class="p-2">
                                    <a href="#"><i class="fa fa-chevron-left"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="p-2">
                    <div class="card card-e">
                        <div class="card-body">
                            <img src="assets/images/icon5.png" alt="Icon" class="card-icon">
                            <p>لوحة التحكم</p>
                            <div class="d-flex flex-row w-100 justify-content-between align-items-end">
                                <div class="p-2">
                                    <a href="#" class="details-link"><h5>التفاصيل</h5></a>
                                </div>
                                <div class="p-2">
                                    <a href="#"><i class="fa fa-chevron-left"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h1 class="green-title mt-5">
                <img src="assets/images/icon7.png" alt="Icon" class="title-icon">
                أحدث التقارير
            </h1>

            <div class="d-flex flex-row">
                <div class="p-2">
                    <div class="card card-e">
                        <div class="card-body">
                            <div class="d-flex flex-row w-100 justify-content-between align-items-end">
                                <div class="p-2">
                                    <img src="assets/images/icon5.png" alt="Icon" class="card-icon">
                                </div>
                                <div class="p-2">
                                    <p>منذ 3 ساعات</p>
                                </div>
                            </div>
                            <div class="d-flex flex-row w-100 justify-content-between align-items-end">
                                <div class="p-2">
                                    <a href="#">
                                        <h5>تقرير</h5>
                                        <h5>113424#</h5>
                                    </a>
                                </div>
                                <div class="p-2">
                                    <a href="#"><i class="fa fa-chevron-left"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="p-2">
                    <div class="card card-e">
                        <div class="card-body">
                            <div class="d-flex flex-row w-100 justify-content-between align-items-end">
                                <div class="p-2">
                                    <img src="assets/images/icon5.png" alt="Icon" class="card-icon">
                                </div>
                                <div class="p-2">
                                    <p>منذ 3 ساعات</p>
                                </div>
                            </div>
                            <div class="d-flex flex-row w-100 justify-content-between align-items-end">
                                <div class="p-2">
                                    <a href="#">
                                        <h5>تقرير</h5>
                                        <h5>113424#</h5>
                                    </a>
                                </div>
                                <div class="p-2">
                                    <a href="#"><i class="fa fa-chevron-left"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="p-2">
                    <div class="card card-e">
                        <div class="card-body">
                            <div class="d-flex flex-row w-100 justify-content-between align-items-end">
                                <div class="p-2">
                                    <img src="assets/images/icon5.png" alt="Icon" class="card-icon">
                                </div>
                                <div class="p-2">
                                    <p>منذ 3 ساعات</p>
                                </div>
                            </div>
                            <div class="d-flex flex-row w-100 justify-content-between align-items-end">
                                <div class="p-2">
                                    <a href="#">
                                        <h5>تقرير</h5>
                                        <h5>113424#</h5>
                                    </a>
                                </div>
                                <div class="p-2">
                                    <a href="#"><i class="fa fa-chevron-left"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="p-2">
                    <div class="card card-e">
                        <div class="card-body">
                            <div class="d-flex flex-row w-100 justify-content-between align-items-end">
                                <div class="p-2">
                                    <img src="assets/images/icon5.png" alt="Icon" class="card-icon">
                                </div>
                                <div class="p-2">
                                    <p>منذ 3 ساعات</p>
                                </div>
                            </div>
                            <div class="d-flex flex-row w-100 justify-content-between align-items-end">
                                <div class="p-2">
                                    <a href="#">
                                        <h5>تقرير</h5>
                                        <h5>113424#</h5>
                                    </a>
                                </div>
                                <div class="p-2">
                                    <a href="#"><i class="fa fa-chevron-left"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footerlogin></app-footerlogin>
